.catalogue-section__title,
.catalogue-section__subtitle {
    max-width: 700px;
}

@keyframes from-bottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.catalogue-section__filter-container {
    margin-block: 20px;
    padding-block: 20px;
    border-top: var(--border);
    border-bottom: var(--border);
}

.catalogue-section__filter-btn {
    transition: 0.2s ease-out;
}

.catalogue-section__filter-btn:hover {
    background: radial-gradient(circle at bottom,
            #F69D39 10%, #EF6905 60%);
    color: var(--color-light);
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.1),
        inset 0 8px 12px rgba(255, 255, 255, 0.7),
        inset 0 0 5px rgba(117, 117, 117, 0.3),
        inset 0 0 8px rgba(255, 255, 255, 0.5);
}

.catalogue-section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.catalogue-section__list .catalogue-section__item:last-child {
    margin-inline-start: auto;
}

.catalogue-section__product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 10px;
    row-gap: 20px;

    padding-block: 10px;
}