.catalogue-section__title,
.catalogue-section__subtitle {
    max-width: 700px;
}

@keyframes from-bottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.catalogue-section__filter-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    margin-block: 20px;
    padding-block: 20px;
    border-top: var(--border);
    border-bottom: var(--border);
}

@media (width < 680px) {
    .catalogue-section__filter-container {
        flex-direction: column;
    }
}

.catalogue-section__filter-btn {
    transition: 0.2s ease-out;
}

.catalogue-section__filter-btn:hover {
    background: radial-gradient(circle at bottom,
            #F69D39 10%, #EF6905 60%);
    color: var(--color-light);
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.1),
        inset 0 8px 12px rgba(255, 255, 255, 0.7),
        inset 0 0 5px rgba(117, 117, 117, 0.3),
        inset 0 0 8px rgba(255, 255, 255, 0.5);
}

.catalogue-section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-body {
    position: relative;
}

.filter-block-body {
    display: none;

    width: 300px;
    position: absolute;

    margin-top: 10px;
    background-color: var(--color-background-dark);
    border-radius: var(--radius-md);
    z-index: 1;
}

.filter-block__item button {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 5px 15px;
    width: 100%;
}

.filter-block__item button:hover {
    background-color: var(--color-background);
    border: none;
}

.filter--active {
    display: flex;
}

.btn--filter svg {
    transform: rotate(0deg);
}

.catalogue-section__product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 10px;
    row-gap: 20px;

    padding-block: 10px;
}

.catalogue-section__card {
    position: relative;
}

.card-info-block {
    padding: 20px 10px;
}

.card-featured {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
}

.card-color-container {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.card-color {
    position: relative;
    border: none;
    border-radius: var(--radius-full);
    padding: 10px;
}

.card-color::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}