.footer {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.footer__container {
    padding-block: var(--container-pad);
    margin-inline: auto;
    max-width: var(--container-max);
    padding-inline: var(--container-pad);
}

.footer__body {
    display: grid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    border-bottom: 1px solid var(--color-light);
}

.footer__body,
.footer__soc1als-container,
.footer__legal {
    padding-block: 30px;
}

.footer__link-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__link-container-title {
    color: var(--color-lightgray);
}

.footer__link-container .footer__list-title {
    margin-bottom: 10px;
    color: var(--color-lightgray);
}

.footer__list {
    color: var(--color-muted);
}

.footer__list .footer__link:hover {
    color: var(--color-lightgray);
    transition: var(--motion-base);
}

/* FOOTER SOCIALS */

.footer__soc1als-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-light);
}

.footer__newsletter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__newsletter form {
    display: flex;
    gap: 20px;
}

.footer__newsletter input {
    background-color: transparent;
    color: var(--color-lightgray);
    border: 1px solid var(--color-light);
    border-radius: var(--radius-md);
    padding-inline: 20px;
}

.footer__newsletter button {
    color: var(--color-dark);
}

.footer__soc1als {
    display: flex;
    gap: 25px;
}

.footer__soc1als span {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border: 1px solid var(--color-light);
    border-radius: var(--radius-md);
}

.footer__soc1als span:hover {
    background-color: #222;
    transition: var(--motion-base);
}

.footer__legal {
    padding-bottom: 0;
}

.footer__legal-list {
    display: flex;
}

.footer__legal-list .footer__legal-item {
    display: flex;
    justify-content: center;

    padding-inline: 20px;
    border-right: var(--border);
}

.footer__legal-item:first-child {
    padding-left: 0;
}

.footer__legal-item:last-child {
    border-right: none;
}