.header {
    max-width: var(--container-max);
    margin-inline: auto;
    padding-inline: var(--container-pad);
}

.header__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

.header__logo-container {
    display: flex;
    z-index: 1000;
}

.header__mobile-list {
    display: none;
}

.header__mobile-action-button {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
}

.header__logo {
    font-size: var(--text-size-lg);
    font-family: var(--ff-accent);
}

.header__list {
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.header__link {
    padding: 10px 20px;
    border-radius: var(--radius-md);
    transition: var(--motion-base);
}

.header__link:hover {
    background-color: var(--color-background-dark);
}

.header__action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header__action-button {
    background-color: transparent;
    border: none;
}