.product-category {
    color: var(--color-dark);
}

.product-category--desktop,
.product-category--accessories {
    background-color: #000;
    color: var(--color-light);
}

.product-category--desktop button,
.product-category--accessories button {
    color: var(--color-dark);
}

.product-category--desktop {
    border: 0 0 var(--radius-md) var(--radius-md);
}

.product-category__container,
.product-category__content {
    padding-block-end: var(--container-pad);
}

.product-category__content {
    display: grid;
    gap: 10px;
    grid-template-columns: 1.5fr 1fr;
}

@media (width < 757px) {
    .product-category__content {
        grid-template-columns: 1fr;
    }
}

.product-category__title {
    font-size: var(--text-size);
    font-weight: var(--text-weight-md);
}

.product-category__info-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}

.product-category__subtitle {
    max-width: 500px;
}

.product-category__image-container img {
    border-radius: var(--radius-md);
}