    <header class="header">
        <div class="overlay"></div>
        <nav class="header__nav">
            <div class="header__logo-container">
                <a href="index.html" class="header__logo accent">CORNELI</a>
            </div>
            <div class="header__link-container">
                <ul class="header__list">
                    <li class="header__item">
                        <a href="about.html" class="header__link">About Us</a>
                    </li>
                    <li class="header__item">
                        <a href="catalogue.html" class="header__link">Products</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Blog</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Support</a>
                    </li>
                </ul>
            </div>
            <div class="header__action-container">
                <button class="header__action-button" title="Log in" aria-label="Log in" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 16 16">
                        <path fill="currentColor"
                            d="M6 5a2 2 0 1 1 4 0a2 2 0 0 1-4 0m-.5 3h5A1.5 1.5 0 0 1 12 9.5c0 1.116-.459 2.01-1.212 2.615C10.047 12.71 9.053 13 8 13s-2.047-.29-2.788-.885C4.46 11.51 4 10.616 4 9.5A1.5 1.5 0 0 1 5.5 8M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8" />
                    </svg>
                </button>
                <button class="header__action-button" title="Cart" aria-label="Cart" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M19 7h-3V6a4 4 0 0 0-8 0v1H5a1 1 0 0 0-1 1v11a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V8a1 1 0 0 0-1-1m-9-1a2 2 0 0 1 4 0v1h-4Zm8 13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V9h2v1a1 1 0 0 0 2 0V9h4v1a1 1 0 0 0 2 0V9h2Z" />
                    </svg>
                </button>
                <button class="header__action-button" aria-label="Languages" type="button">EN</button>
            </div>

            <button class="header__burger-menu" type="button" title="Menu" aria-label="Menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>